body
{
    margin: 1em;
}

h1
{
    text-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #000;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    padding: 0.2em 1em;
    background-color: seashell;
}

h2
{
    text-shadow: 1px 1px 3px #aaa;
    box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    border-left: 20px solid navy;
    border-bottom: 2px double navy;
    padding: 0.2em 1em;
}

button
{
    font-size: 120%;
    margin-left: 3em;
    display: block;
}

/* サイドバーに置くタイプ {{{ */
#sidebar
{
    margin: 1em 2em;
}
#sidebar dt
{
    text-transform: uppercase;
    font-weight: bold;
}
#sidebar dt:before
{
    content: "» ";
}
#sidebar dd
{
    width: 208px;
    margin: 0;
    padding: 3px;
    background-color: whitesmoke;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sidebar .lastfm
{
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    height: 433px;
}
#sidebar .lastfm li
{
    clear: both;
    height: 36px;
    margin: 3px 5px;
    padding: 2px 5px;
    position: relative;
    background-color: #e8d3c7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sidebar .lfm_art
,#sidebar .lfm_art a
{
    position: absolute;
}
#sidebar .lfm_art a
{
    background: none;
    padding-left: 0;
}
#sidebar .lfm_overlay
,#sidebar a
{
    top: 0;
    left: 0;
}
#sidebar .lfm_art
{
    _left: 5px;
}
#sidebar .lfm_overlay
{
    _display: none;
}
#sidebar .lfm_art
,#sidebar .lfm_art a
,#sidebar .lfm_art img
{
    width: 32px;
    height: 32px;
}
#sidebar .lfm_art img
{
    margin-top: 2px;
    border-width: 0;
}
#sidebar .lfm_song
{
    font-weight: bold;
}
#sidebar .lfm_song
,#sidebar .lfm_artist
,#sidebar .lfm_datetime
{
    margin-left: 40px;
    font-size: 10px;
    white-space: nowrap;
    overflow:hidden;
    height: 12px;
    width: 148px;
}
#sidebar .lfm_datetime
{
    color: maroon;
    text-align: right;
}
#sidebar .lfm_update
{
    width: 208px;
    font-size: 85%;
    text-align: center;
    margin: 0;
}
/* }}} */

/* 横に広いタイプ {{{ */
#wide
{
    margin: 1em 2em;
}
#wide dt
{
    text-transform: uppercase;
    font-weight: bold;
}
#wide dt:before
{
    content: "» ";
}
#wide dd
{
    width: 1024px;
    margin: 0;
    padding: 3px;
    background-color: whitesmoke;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#wide .lastfm
{
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    height: 180px;
}
#wide .lastfm li
{
    float: left;
    height: 68px;
    margin: 3px 5px;
    padding: 7px 12px;
    position: relative;
    background-color: #e8d3c7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#wide .lfm_art
,#wide .lfm_art a
{
    position: absolute;
}
#wide .lfm_art a
{
    background: none;
    padding-left: 0;
}
#wide .lfm_overlay
,#wide a
{
    top: 0;
    left: 0;
}
#wide .lfm_art
{
    _left: 5px;
}
#wide .lfm_overlay
{
    _display: none;
}
#wide .lfm_art
,#wide .lfm_art a
,#wide .lfm_art img
{
    width: 64px;
    height: 64px;
}
#wide .lfm_art img
{
    margin-top: 2px;
    border-width: 0;
}
#wide .lfm_song
{
    font-weight: bold;
}
#wide .lfm_song
,#wide .lfm_artist
,#wide .lfm_datetime
{
    margin-left: 72px;
    font-size: 14px%;
    white-space: nowrap;
    overflow:hidden;
    height: 16px;
    width: 148px;
}
#wide .lfm_datetime
{
    color: maroon;
    text-align: right;
}
#wide .lfm_update
{
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    padding-left: 2em;
}
/* }}} */

/* フェイド・イン {{{ */
#fadein
{
    margin: 1em 2em;
}
#fadein dt
{
    text-transform: uppercase;
    font-weight: bold;
}
#fadein dt:before
{
    content: "» ";
}
#fadein dd
{
    width: 1024px;
    margin: 0;
    padding: 3px;
    background-color: whitesmoke;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#fadein .lastfm
{
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    height: 180px;
}
#fadein .lastfm li
{
    float: left;
    height: 68px;
    margin: 3px 5px;
    padding: 7px 12px;
    position: relative;
    background-color: #e8d3c7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#fadein .lfm_art
,#fadein .lfm_art a
{
    position: absolute;
}
#fadein .lfm_art a
{
    background: none;
    padding-left: 0;
}
#fadein .lfm_overlay
,#fadein a
{
    top: 0;
    left: 0;
}
#fadein .lfm_art
{
    _left: 5px;
}
#fadein .lfm_overlay
{
    _display: none;
}
#fadein .lfm_art
,#fadein .lfm_art a
,#fadein .lfm_art img
{
    width: 64px;
    height: 64px;
}
#fadein .lfm_art img
{
    margin-top: 2px;
    border-width: 0;
}
#fadein .lfm_song
{
    font-weight: bold;
}
#fadein .lfm_song
,#fadein .lfm_artist
,#fadein .lfm_datetime
{
    margin-left: 72px;
    font-size: 14px%;
    white-space: nowrap;
    overflow:hidden;
    height: 16px;
    width: 148px;
}
#fadein .lfm_datetime
{
    color: maroon;
    text-align: right;
}
#fadein .lfm_update
{
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    padding-left: 2em;
}
/* }}} */

/* vim:se fdm=marker: */
