body
{
    margin: 1em;
}
#sidebar
{
    margin: 1em 2em;
}
#sidebar dt
{
    text-transform: uppercase;
    font-weight: bold;
}
#sidebar dt:before
{
    content: "» ";
}
#sidebar dd
{
    width: 208px;
    margin: 0;
    padding: 3px;
    background-color: whitesmoke;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sidebar .lastfm
{
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    height: 433px;
}
#sidebar .lastfm li
{
    clear: both;
    height: 36px;
    margin: 3px 5px;
    padding: 2px 5px;
    position: relative;
    background-color: #e8d3c7;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sidebar .lfm_art
,#sidebar .lfm_art a
{
    position: absolute;
}
#sidebar .lfm_art a
{
    background: none;
    padding-left: 0;
}
#sidebar .lfm_overlay
,#sidebar a
{
    top: 0;
    left: 0;
}
#sidebar .lfm_art
{
    _left: 5px;
}
#sidebar .lfm_overlay
{
    _display: none;
}
#sidebar .lfm_art
,#sidebar .lfm_art a
,#sidebar .lfm_art img
{
    width: 32px;
    height: 32px;
}
#sidebar .lfm_art img
{
    margin-top: 2px;
    border-width: 0;
}
#sidebar .lfm_song
{
    font-weight: bold;
}
#sidebar .lfm_song
,#sidebar .lfm_artist
,#sidebar .lfm_datetime
{
    margin-left: 40px;
    font-size: 10px;
    white-space: nowrap;
    overflow:hidden;
    height: 12px;
    width: 148px;
}
#sidebar .lfm_datetime
{
    color: maroon;
    text-align: right;
}
#sidebar .lfm_update
{
    width: 208px;
    font-size: 85%;
    text-align: center;
    margin: 0;
}
